<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name="com.example.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.example.demo.SampleActivity">
            <intent-filter>
                <action android:name="com.example.demo.SampleActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.Sample1Activity">
            <intent-filter>
                <action android:name="com.example.demo.Sample1Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.Sample6Activity">
            <intent-filter>
                <action android:name="com.example.demo.Sample6Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.Sample7Activity">
            <intent-filter>
                <action android:name="com.example.demo.Sample7Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.Sample8Activity">
            <intent-filter>
                <action android:name="com.example.demo.Sample8Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.Sample9Activity">
            <intent-filter>
                <action android:name="com.example.demo.Sample9Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.Sample10Activity">
            <intent-filter>
                <action android:name="com.example.demo.Sample10Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.Sample11Activity">
            <intent-filter>
                <action android:name="com.example.demo.Sample11Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.MovingBallExample">
            <intent-filter>
                <action android:name="com.example.demo.MovingBallExample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.demo.MusicExample">
            <intent-filter>
                <action android:name="com.example.demo.MusicExample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>